# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files (sensitive values)
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using !terraform_override.tf
# !example_override.tf

# Include tfplan files to ignore the plan output of command: tofu plan -out=tfplan
*.tfplan

# CLI configuration files
.terraformrc
terraform.rc

# OpenTofu lock file should be committed (dependency constraints)
