# ===========================================================================
# terraform.tfvars.example
# ===========================================================================
# Copy this file to terraform.tfvars and fill in your real values.
# WARNING: terraform.tfvars is in .gitignore — never commit secrets!
# ===========================================================================

# --- Proxmox Connection ---
proxmox_endpoint  = "https://pve1.local:8006/api2/json"
# Example api token format:
proxmox_api_token = "root@pam!HermesTF=8a42e476-daf8-4102-ab67-b65dac5ab276"
proxmox_insecure  = true
proxmox_node      = "pve1"

# --- VM Defaults ---
vm_template_name     = "Debian13Template"
vm_datastore         = "zfs1"
vm_default_username  = "andy"
vm_ssh_keys          = ["ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAlMVlX9EHoZrapQawY3JmVjhv6b7FwNq4ZtjFWK2n03Q4tR1iA+IdPIfERYJMjQM1eSoc/GXz2b9B6AkR5LGyH7fynskDWSyQUSnc4qxiLO4E/KDYwtJ7EmmcTeED8rF30yYfCseBpNz29ot1Kg8EtLu8+y0VCISaMh02V5YvUuZVAfcOjpMzX8oATt5CQcrbOnEx3z4+Sdzo6IRzP1hnZBmBgGkSrKQ8MEvY6OCFmBHy91pMxBptJxDJDjbP4qlGuTPYXDPMuLi48ge3t4HwqSWdldnu1sHUB5EFKZIAnAkz6fxVSkjcPbcEM5+qzyHdzuiJZQit23Hw37rxr/ySiQ== Andys"]
